<!-- Updated machines-edit.component.html -->
<div class="machine-edit">

    <app-breadcrumbs [items]="breadcrumbs"></app-breadcrumbs>

    <header class="machine-edit__header">
        <div class="machine-edit__header-left">
            <button class="machine-edit__back-button" (click)="goBack()">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M7.99998 12.6668L3.33331 8.00016M3.33331 8.00016L7.99998 3.3335M3.33331 8.00016H12.6666" stroke="#232323" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <div class="machine-edit__title-container">
                <!-- Shimmer for machine code when loading -->
                <ng-container *ngIf="!dataLoaded && route.snapshot.paramMap.get('id'); else loadedMachineCode">
                    <span class="machine-edit__skeleton-machine-code"></span>
                </ng-container>
                <ng-template #loadedMachineCode>
                    <span class="machine-edit__machine-code">{{ machineForm.get('articleNumber')?.value || '' }}</span>
                </ng-template>

                <!-- Shimmer for title when loading -->
                <ng-container *ngIf="!dataLoaded && route.snapshot.paramMap.get('id'); else loadedTitle">
                    <h1 class="machine-edit__skeleton-title"></h1>
                </ng-container>
                <ng-template #loadedTitle>
                    <h1 class="machine-edit__title">{{ machineForm.get('articleDescription')?.value || 'New Machine' }}</h1>
                </ng-template>
            </div>
        </div>
        <div class="machine-edit__header-right">
            <button class="machine-edit__save-continue-button" (click)="saveAndContinue()" [disabled]="!dataLoaded && route.snapshot.paramMap.get('id')">
                Save and continue
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M6 12L10 8L6 4" stroke="#232323" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <button class="machine-edit__save-button" (click)="saveMachine()" [disabled]="!dataLoaded && route.snapshot.paramMap.get('id')">
                Save
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                    <path d="M2.66657 9.93284C2.17126 9.42679 1.79761 8.81465 1.57392 8.1428C1.35023 7.47095 1.28237 6.75701 1.37547 6.05504C1.46858 5.35308 1.7202 4.68151 2.1113 4.0912C2.50239 3.50089 3.02269 3.00732 3.63279 2.64788C4.24289 2.28843 4.92678 2.07255 5.63268 2.01656C6.33857 1.96058 7.04795 2.06597 7.70708 2.32475C8.36621 2.58353 8.9578 2.98892 9.43706 3.5102C9.91631 4.03149 10.2706 4.655 10.4732 5.33351H11.6666C12.3102 5.33344 12.9369 5.54039 13.4539 5.9238C13.9709 6.30722 14.3509 6.84675 14.5377 7.46271C14.7246 8.07868 14.7084 8.7384 14.4915 9.34443C14.2746 9.95045 13.8685 10.4707 13.3332 10.8282M8 8.00016V14.0002M8 8.00016L10.6667 10.6668M8 8.00016L5.33333 10.6668" stroke="white" stroke-width="1.33" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
        </div>
    </header>

    <div class="machine-edit__content">
        <form [formGroup]="machineForm" class="machine-edit__form">
            <div class="machine-edit__form-top">
                <!-- Basic Machine Info Section -->
                <div class="machine-edit__section">
                    <h2 class="machine-edit__section-title">Basic Machine Information</h2>

                    <!-- IB Station Info -->
                    <div class="machine-edit__field-row">
                        <div class="machine-edit__field">
                            <label class="machine-edit__label">IB Station Number</label>
                            <ng-container *ngIf="!dataLoaded && route.snapshot.paramMap.get('id'); else loadedIBStation">
                                <div class="machine-edit__skeleton-field"></div>
                            </ng-container>
                            <ng-template #loadedIBStation>
                                <input type="number" class="machine-edit__input" formControlName="ibStationNumber">
                            </ng-template>
                        </div>
                    </div>

                    <div class="machine-edit__field-row">
                        <div class="machine-edit__field">
                            <label class="machine-edit__label">IB Serial Number</label>
                            <ng-container *ngIf="!dataLoaded && route.snapshot.paramMap.get('id'); else loadedIBSerial">
                                <div class="machine-edit__skeleton-field"></div>
                            </ng-container>
                            <ng-template #loadedIBSerial>
                                <input type="number" class="machine-edit__input" formControlName="ibSerialNumber">
                            </ng-template>
                        </div>
                    </div>

                    <!-- Article Info -->
                    <div class="machine-edit__field-row">
                        <div class="machine-edit__field">
                            <label class="machine-edit__label">Article Number</label>
                            <ng-container *ngIf="!dataLoaded && route.snapshot.paramMap.get('id'); else loadedArticleNumber">
                                <div class="machine-edit__skeleton-field"></div>
                            </ng-container>
                            <ng-template #loadedArticleNumber>
                                <input type="text" class="machine-edit__input" formControlName="articleNumber">
                            </ng-template>
                        </div>
                    </div>

                    <div class="machine-edit__field-row">
                        <div class="machine-edit__field">
                            <label class="machine-edit__label">Article Description</label>
                            <ng-container *ngIf="!dataLoaded && route.snapshot.paramMap.get('id'); else loadedArticleDesc">
                                <div class="machine-edit__skeleton-field"></div>
                            </ng-container>
                            <ng-template #loadedArticleDesc>
                                <input type="text" class="machine-edit__input" formControlName="articleDescription">
                            </ng-template>
                        </div>
                    </div>

                    <!-- Order and Delivery -->
                    <div class="machine-edit__field-row">
                        <div class="machine-edit__field">
                            <label class="machine-edit__label">Order Number</label>
                            <ng-container *ngIf="!dataLoaded && route.snapshot.paramMap.get('id'); else loadedOrderNumber">
                                <div class="machine-edit__skeleton-field"></div>
                            </ng-container>
                            <ng-template #loadedOrderNumber>
                                <input type="text" class="machine-edit__input" formControlName="orderNumber">
                            </ng-template>
                        </div>
                    </div>

                    <div class="machine-edit__field-row">
                        <div class="machine-edit__field">
                            <label class="machine-edit__label">Delivery Date</label>
                            <ng-container *ngIf="!dataLoaded && route.snapshot.paramMap.get('id'); else loadedDeliveryDate">
                                <div class="machine-edit__skeleton-field"></div>
                            </ng-container>
                            <ng-template #loadedDeliveryDate>
                                <app-date-picker
                                        formControlName="deliveryDate"
                                        [isRange]="false"
                                        [placeholder]="'Select delivery date'"
                                        [dateFormat]="'dd.MM.yyyy'"
                                        [monthsToShow]="1"
                                        [storageKey]="'machine-delivery-date'"
                                        class="machine-edit__date-picker-wrapper">
                                </app-date-picker>
                            </ng-template>
                        </div>
                    </div>
                </div>

                <!-- KMS & MC Info Section -->
                <div class="machine-edit__section">
                    <h2 class="machine-edit__section-title">KMS & MC Information</h2>

                    <div class="machine-edit__field-row">
                        <div class="machine-edit__field">
                            <label class="machine-edit__label">KMS Identification Number</label>
                            <ng-container *ngIf="!dataLoaded && route.snapshot.paramMap.get('id'); else loadedKMSIdent">
                                <div class="machine-edit__skeleton-field"></div>
                            </ng-container>
                            <ng-template #loadedKMSIdent>
                                <input type="text" class="machine-edit__input" formControlName="kmsIdentificationNumber">
                            </ng-template>
                        </div>
                    </div>

                    <div class="machine-edit__field-row">
                        <div class="machine-edit__field">
                            <label class="machine-edit__label">KMS ID Number</label>
                            <ng-container *ngIf="!dataLoaded && route.snapshot.paramMap.get('id'); else loadedKMSId">
                                <div class="machine-edit__skeleton-field"></div>
                            </ng-container>
                            <ng-template #loadedKMSId>
                                <input type="text" class="machine-edit__input" formControlName="kmsIdNumber">
                            </ng-template>
                        </div>
                    </div>

                    <div class="machine-edit__field-row">
                        <div class="machine-edit__field">
                            <label class="machine-edit__label">MC Number</label>
                            <ng-container *ngIf="!dataLoaded && route.snapshot.paramMap.get('id'); else loadedMCNumber">
                                <div class="machine-edit__skeleton-field"></div>
                            </ng-container>
                            <ng-template #loadedMCNumber>
                                <input type="text" class="machine-edit__input" formControlName="mcNumber">
                            </ng-template>
                        </div>
                    </div>

                    <!-- FI Info -->
                    <div class="machine-edit__field-row">
                        <div class="machine-edit__field">
                            <label class="machine-edit__label">FI Station Number</label>
                            <ng-container *ngIf="!dataLoaded && route.snapshot.paramMap.get('id'); else loadedFIStation">
                                <div class="machine-edit__skeleton-field"></div>
                            </ng-container>
                            <ng-template #loadedFIStation>
                                <input type="number" class="machine-edit__input" formControlName="fiStationNumber">
                            </ng-template>
                        </div>
                    </div>

                    <div class="machine-edit__field-row">
                        <div class="machine-edit__field">
                            <label class="machine-edit__label">FI Serial Number</label>
                            <ng-container *ngIf="!dataLoaded && route.snapshot.paramMap.get('id'); else loadedFISerial">
                                <div class="machine-edit__skeleton-field"></div>
                            </ng-container>
                            <ng-template #loadedFISerial>
                                <input type="number" class="machine-edit__input" formControlName="fiSerialNumber">
                            </ng-template>
                        </div>
                    </div>

                    <!-- Warranty Section -->
                    <h2 class="machine-edit__section-title" style="margin-top: 1.5rem;">Warranty Information</h2>

                    <div class="machine-edit__field-row">
                        <div class="machine-edit__field">
                            <label class="machine-edit__label">Main Warranty End</label>
                            <ng-container *ngIf="!dataLoaded && route.snapshot.paramMap.get('id'); else loadedMainWarranty">
                                <div class="machine-edit__skeleton-field"></div>
                            </ng-container>
                            <ng-template #loadedMainWarranty>
                                <app-date-picker
                                        formControlName="mainWarrantyEnd"
                                        [isRange]="false"
                                        [placeholder]="'Select warranty end date'"
                                        [dateFormat]="'dd.MM.yyyy'"
                                        [monthsToShow]="1"
                                        [storageKey]="'machine-main-warranty'"
                                        [disablePastDates]="true"
                                        class="machine-edit__date-picker-wrapper">
                                </app-date-picker>
                            </ng-template>
                        </div>
                    </div>

                    <div class="machine-edit__field-row">
                        <div class="machine-edit__field">
                            <label class="machine-edit__label">Extended Warranty End</label>
                            <ng-container *ngIf="!dataLoaded && route.snapshot.paramMap.get('id'); else loadedExtWarranty">
                                <div class="machine-edit__skeleton-field"></div>
                            </ng-container>
                            <ng-template #loadedExtWarranty>
                                <app-date-picker
                                        formControlName="extendedWarrantyEnd"
                                        [isRange]="false"
                                        [placeholder]="'Select extended warranty end'"
                                        [dateFormat]="'dd.MM.yyyy'"
                                        [monthsToShow]="1"
                                        [storageKey]="'machine-extended-warranty'"
                                        [disablePastDates]="true"
                                        class="machine-edit__date-picker-wrapper">
                                </app-date-picker>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </div>

            <div class="machine-edit__form-body">
                <!-- Tabs Section -->
                <div class="machine-edit__tabs">
                    <button
                            class="machine-edit__tab"
                            [class.machine-edit__tab--active]="activeTab === 'featuredImage'"
                            (click)="setActiveTab('featuredImage')"
                            type="button">
                        Featured Image
                    </button>

                    <button
                            class="machine-edit__tab"
                            [class.machine-edit__tab--active]="activeTab === 'imageGallery'"
                            (click)="setActiveTab('imageGallery')"
                            type="button">
                        Image Gallery
                    </button>
                </div>

                <!-- Tab Indicator Animation -->
                <div class="machine-edit__tab-indicator" [@tabIndicator]="activeTab"></div>

                <!-- Tab Content with Animations -->
                <div class="machine-edit__tab-content">
                    <!-- featuredImage Section -->
                    <div class="machine-edit__editor-container machine-edit__featured-image-container"
                         *ngIf="activeTab === 'featuredImage'"
                         [@tabAnimation]>
                        <!-- Show shimmer when loading -->
                        <div *ngIf="!dataLoaded && route.snapshot.paramMap.get('id')" class="machine-edit__skeleton-image"></div>
                        <!-- Show featured image selector when data is loaded -->
                        <app-product-featured-image
                                *ngIf="dataLoaded || !route.snapshot.paramMap.get('id')"
                                [featuredImage]="machineForm.get('featuredImage')?.value"
                                (featuredImageChange)="onFeaturedImageChange($event)">
                        </app-product-featured-image>
                    </div>

                    <!-- imageGallery Section -->
                    <div class="machine-edit__editor-container machine-edit__image-gallery-container"
                         *ngIf="activeTab === 'imageGallery'"
                         [@tabAnimation]>
                        <!-- Show shimmer when loading -->
                        <div *ngIf="!dataLoaded && route.snapshot.paramMap.get('id')" class="machine-edit__loading-overlay">
                            <div class="machine-edit__loading-text">Loading gallery...</div>
                        </div>
                        <!-- Show image gallery when data is loaded -->
                        <app-product-image-gallery
                                *ngIf="dataLoaded || !route.snapshot.paramMap.get('id')"
                                [mediaItems]="machineForm.get('imageGallery')?.value || []"
                                (mediaItemsChange)="onImageGalleryChange($event)">
                        </app-product-image-gallery>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
